# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Long\kha0213.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
